<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Sexo</th>
        <th>Email</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <!-- Ejemplo de fila estática -->
      <tr >
        <td>
          <img src="#"
               class="user-image" alt="Imagen de usuario">
        </td>
        <td>ejemplo</td>
        <td>ejemplo</td>
        <td>1</td>
        <td>mariaejemplo.com</td>
        <td>
          <button class="btn btn-sm btn-success">
            Habilitado
          </button>
        </td>
        <td>
          <button class="btn btn-danger btn-sm">
            <i class="bi bi-trash"></i> Eliminar
          </button>
        </td>
      </tr>

      <!-- Otra fila de ejemplo -->
      <tr>
        <td>
          <span>Sin imagen</span>
        </td>
        <td>Juan</td>
        <td>García Hernández</td>
        <td>2</td>
        <td>juanejemplo.com</td>
        <td>
          <button class="btn btn-sm btn-danger">
            Deshabilitado
          </button>
        </td>
        <td>
          <button class="btn btn-danger btn-sm">
            <i class="bi bi-trash"></i> Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
