<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-4">Solicitar Cotización</h2>
      <p class="text-muted text-center">Complete el siguiente formulario para solicitar una cotización de nuestros servicios. Nos pondremos en contacto con usted lo antes posible.</p>

      <form [formGroup]="form" (ngSubmit)="addCotizacion()">

        <div class="mb-3">
          <label for="cotizacion" class="form-label">Tipo de Cotización</label>
          <select  formControlName="tipo_cotizacion" class="form-select" id="cotizacion" required>
            <option value="" disabled selected>Seleccione una opción</option>
            <option value="1">Ingeniería Eléctrica</option>
            <option value="2">Mantenimiento Industrial</option>
            <option value="3">Soldadura Especializada</option>
            <option value="4">Obras Civiles</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="mensaje-adicional" class="form-label">Mensaje Adicional</label>
          <textarea formControlName="mensaje_adicional" class="form-control" id="mensaje-adicional" rows="3" placeholder="Ingrese detalles adicionales sobre su solicitud"></textarea>
        </div>
        <button type="submit" class="btn btn-primary w-50 d-block mx-auto mb-4">Enviar</button>

      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
