<!-- Start >> Navbar -->
<nav id="navbar" class="navbar navbar-expand-lg mb-0 px-2 bg-app">
  <div class="container">
    <!-- Logo + Toggler Mobile -->
    <div class="d-flex align-items-center">
      <a class="navbar-brand p-0 me-3">
        <img src="assets/images/logo/smec.svg" alt="Logo" style="max-width: 120px;">
      </a>

      <button class="navbar-toggler" type="button"
              data-bs-toggle="collapse" data-bs-target="#navbarContent"
              aria-controls="navbarContent" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <!-- Contenido colapsable -->
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav">
        <!-- Elementos de navegación -->
        <li class="nav-item">
          <a class="nav-link mx-3" [routerLink]="'/'"
             [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">PRUEBA</a>
        </li>

        <li class="nav-item">
          <a class="nav-link mx-3" [routerLink]="'/about-us'"
             [routerLinkActive]="'active'">Sobre nosotros</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mx-3" href="#"
             role="button" data-bs-toggle="dropdown">
            Servicios
          </a>
          <div class="dropdown-menu">
            <div class="px-2">
              <h5 class="dropdown-header fw-bold">Mantenimiento Industrial</h5>
              <a class="dropdown-item" href="javascript:void(0);">
                <i class="bi bi-lightning-charge-fill text-primary me-2"></i>
                Instalaciones Eléctricas
              </a>
              <a class="dropdown-item" href="javascript:void(0);">
                <i class="bi bi-tools text-primary me-2"></i>
                Soldadura General
              </a>
              <a class="dropdown-item" routerLink="/store">
                <i class="bi bi-cart-plus-fill text-primary me-2"></i>
                Venta de refacciones industriales
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/quote">
                <i class="bi bi-credit-card-2-back-fill text-primary me-2"></i>
                Cotizaciones
              </a>
            </div>
          </div>
        </li>
      </ul>

      <!-- Elementos derechos -->
      <ul class="navbar-nav ms-auto">
        <!-- ... (mantén el resto de tu código existente aquí) -->
        <!-- Registred -->
        <li class="nav-item dropdown" *ngIf="registred">
          <!-- ... (código del dropdown de usuario) -->
        </li>

        <!-- Not registred -->
        <li class="nav-item" *ngIf="!registred">
          <button type="button" class="btn btn-login btn-outline-primary"
                  routerLink="/login">Iniciar sesión</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End >> Navbar -->
