<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted shadow">
  <!-- Section: Social media -->
  <section class="container d-flex justify-content-center justify-content-lg-between py-4 border-bottom">
      <div class="me-5 d-none d-lg-block">
          <span>Conéctate con nosotros:</span>
      </div>

      <div>
          <a href="https://www.facebook.com/share/1DgCEFTJDT/" class="me-4">
              <i class="bi bi-facebook"></i>
          </a>
          <a href="https://www.instagram.com/smec_01" class="me-4">
              <i class="bi bi-instagram"></i>
          </a>
      </div>
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section>
      <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                  <!-- Content -->
                  <h6 class="text-uppercase fw-bold mb-4">
                      <i class="bi bi-building"></i> Grupo SMEC
                  </h6>
                  <p>
                    Especialistas en soluciones electromecánicas e infraestructura industrial con cobertura en Puebla y Tlaxcala.
                  </p>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                  <!-- Links -->
                  <h6 class="text-uppercase fw-bold mb-4">
                    Servicios
                  </h6>
                  <p>
                      <a href="#!" class="">Ingeniería Eléctrica</a>
                  </p>
                  <p>
                      <a href="#!" class="">Mantenimiento Industrial</a>
                  </p>
                  <p>
                      <a href="#!" class="">Soldadura Especializada</a>
                  </p>
                  <p>
                      <a href="#!" class="">Obras Civiles</a>
                  </p>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                  <!-- Links -->
                  <h6 class="text-uppercase fw-bold mb-4">
                    Contacto
                  </h6>
                  <p>
                      <i class="bi bi-house-door"></i>
                      Calle Zaragoza No.5 Sección primera San Luis Teolocholco Tlaxcala C.P 90850
                  </p>
                  <p>
                      <i class="bi bi-envelope"></i>

                  </p>
                  <p><i class="bi bi-phone"></i> +52 246 158 8634</p>
                  <p><i class="bi bi-phone"></i> +52 246 183 3295</p>
                  <p><i class="bi bi-envelope"></i> ingenieropepote2gmail.com</p>
              </div>
              <!-- Grid column -->
          </div>
          <!-- Grid row -->
      </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4">
    © 2024 Grupo SMEC - Todos los derechos reservados
      <a class=" fw-bold" href="#">Grupo-Smec</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
